@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.transparent-bg {
    background-color: rgba(146, 128, 217, 0.5); /* Adjust the RGBA values and alpha level as needed */
  }

  .gradient-text {
    background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  